/*页面初始化*/

html,body,p,h1,h2,h3,a,ul,ol,li{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: url("images/bg-body.jpg") 0 0 repeat;
}

/*页面头部*/
.header{
    background: url("images/bg-header.jpg")0 0 repeat;
    padding: 0;
}

.login-bar{
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 10;
}

.login-bar a{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 28px;
    line-height: 28px;
    background: url("images/login-icon.gif") 0 0 no-repeat;
    display: inline-block;
}

.login-bar a.qq-login{
    background-position: 0 0;
}

.login-bar a.wb-login{
    background-position: 0 -28px;
}

.logo{
    text-align: center;
}

.logo img{

}

.nav{
    text-align: center;
    line-height: 36px;
}

.nav li{
    display: inline;
    margin-left: 36px;
}

.nav a{
    color: #FFFFFF;
    text-decoration: none;
}

/*页面主体区域*/
.home_imgbox{
    background: url("images/main.jpg") center center no-repeat;
    width: 100%;
    height: 640px;
    position: relative;
}

.info{
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.info_wrap{
    width: 700px;
    height: 200px;
    background: url("images/nw_logo.gif") 0 center no-repeat;
    margin: auto;
    padding-left: 300px;
}

.info_wrap h3{
    padding-top: 15px;
    color: #FFFFFF;
    font-size: 30px;
}

.info p{
    padding-top: 30px;
    color: #FFFFFF;
    line-height: 25px;
    text-indent: 30px;
}

/*页脚*/
.footer{
    font-size: 88px;
    color: #FFFFFF;
    text-align: center;
}

/*天气预报*/
.weather{
    position: absolute;
    left: 10px;
    top: 10px;
}


/*发布美食页*/
.main-content{
    width: 100%;
    background: url("images/bg-main.jpg") 0 0 repeat;
    width: 700px;
    margin: 20px auto;
}

.main-content h1{
    text-align: center;
}

.suggest{
    width:100%;
}

.suggest input[type=text]{
    padding: 7px;
    width: 500px;
    border: 2px solid #79b1a3;
}

.suggest textarea{
    padding: 7px;
    width: 500px;
    border: 2px solid #79b1a3;
    resize: none;
}

.suggest td{
    padding: 5px;
}

.td-label{
    width: 100px;
    text-align: right;
}

.td-btn{
    text-align: center;
}

/*美食列表页*/
.main-content h1{
    color: #79B1A2;
    padding-top: 18px;
    padding-bottom: 18px;
}

.main-content h3{
    padding-left: 150px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #7facaa;
}

.main-content p{
    padding-right: 15px;
    overflow: hidden;
    height: 142px;
    text-indent: 25px;
}

.main-content ul{
    padding-bottom: 10px;
}

.main-content li{
    list-style: none;
    border:1px solid #a94442;
    margin: 20px;
    height: 200px;
}

.main-content img{
    float: left;
    width:150px;
    height:150px;
    padding: 5px;
    background: #FFFFFF;
    margin: 20px;
}